site_name: KubeVirt user guide
site_url: https://kubevirt.io/user-guide
site_description: Documentation for KubeVirt
docs_dir: docs
site_dir: site

plugins:
  - search:
      separator: '[\s\-,:!=\[\]\(\)"/]+|\.(?!\d)'
  - awesome-pages

remote_branch: main
site_favicon: assets/favicon.ico
edit_uri: https://github.com/kubevirt/user-guide/edit/main/docs/

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_css:
  - stylesheets/extra.css

theme:
  name: material
  logo: assets/KubeVirt_icon.png
  favicon: assets/favicon32x32.png
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
       
  features:
    - navigation.sections  
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - content.action.view
    - content.action.edit
