site_name: KubeVirt User-Guide
site_url:
site_description: Documentation for KubeVirt
docs_dir: docs
site_dir: site

plugins:
  - search
  - awesome-pages

repo_url: https://github.com/kubevirt/user-guide/
remote_branch: master

markdown_extensions:
    - admonition
    - toc:
        permalink: true

theme:
  name: readthedocs
  navigation_depth: 2
  prev_next_buttons_location: bottom
  include_search_page: true
  search_index_only: false
  titles_only: false
  highlightjs: true
  hljs_languages:
    - yaml
  icon:
    logo: assets/favicon.ico
