:root, [data-md-color-primary="teal"] {
  --md-primary-fg-color: #0db2b6;
}

:root, [data-md-color-accent="teal"] {
  --md-accent-fg-color: #006166;
}

.md-nav a, .md-typeset a {
  filter: brightness(80%);
}

@media screen and (min-width: 76.25em) {
  .md-nav label, .md-nav__item--section > .md-nav__link[for] {
    font-size: 115%;
    color: #00797f;
  }
}
