:root, [data-md-color-primary="teal"] {
  --md-primary-fg-color: #0db2b6;
}

:root, [data-md-color-accent="teal"] {
  --md-accent-fg-color: #006166;
}

.md-nav a, .md-typeset a {
  filter: brightness(80%);
}
