:root, [data-md-color-primary="teal"] {
  --md-primary-fg-color: #0db2b6;
}

:root, [data-md-color-accent="teal"] {
  --md-accent-fg-color: #006166;
}

.md-nav a, .md-typeset a {
  filter: brightness(80%);
}

.md-tabs__link {
  opacity: 0.85;
  font-weight: bold;
}

.md-tabs__link--active {
  opacity: 1.0;
  text-underline-offset: 8px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

@media screen and (min-width: 76.25em) {
  .md-nav label, .md-nav__item--section > .md-nav__link[for] {
    font-size: 115%;
    color: #00797f;
  }
}

.md-typeset code {
  border: 1px solid #e1e4e5;
}

.md-typeset__table {
   min-width: 100%;
}
